/* HTML ELEMENTS */
body {
  font-family: 'Montserrat';
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Montserrat-Bold"
}

/* ------------------ TITLE------------------ */
#title {
  background-color: #ff4c68;
  text-align: left;
}

.h1-title {
  margin-top: 50px;
  font-size: 3.5rem;
  font-weight: 700;
  line-height: 1.5;
  color: white;
  letter-spacing: 2px;
}

.container-title {
  padding: 3% 15%;
}

.navbar {
  padding-bottom: 30px;
}

.navbar-brand {
  color: white;
  font-size: 2rem;
  letter-spacing: 2px;
}

.nav-item {
  padding: 0 20px;
  letter-spacing: 2px;
  font-size: 1.25rem;
  font-family: 'Montserrat-Light'
}

.eminem {
  height: 490px;
  /* transform: rotate(25deg); */
  margin-bottom: 35px;
}

.download-button {
  margin: 5% 5% 5% 0;
}

/* ---------------- FEATURES------------------ */
.container-feature {
  padding: 3% 15%;
}

.feature-div {
  margin: 50px 30px 30px 30px;
  text-align: center;
  font-family: 'Montserrat-Bold';
  line-height: 2;
}

.h3-features {
  font-size: 1.5rem;
  font-weight: 600;
}

.description-features {
  color: #8f8f8f;
}

.separate {
  margin-bottom: 50px;
}

.symbols {
  color: #FE8F8F;
  margin-bottom: 20px;
}

.symbols:hover {
  color: #630A10;
}

/* ------------------ TESTIMONIALS------------------ */
#testimonials {
  background-color: #ff4c68;
  color: white;
  font-family: 'Montserrat-Bold';
  font-weight: 300;
  font-size: 1.5rem;
}

.eminem-about {
  height: 20%;
  width: 30%;
  border-radius: 100%;
  margin: 20px;
}

.ice-cube {
  height: 8%;
  width: 13%;
  border-radius: 100%;
  margin: 20px;
}

.h2-testimonials {
  font-family: 'Montserrat-Bold';
  line-height: 1.5;
  font-size: 3rem;
}

.carousel-item {
  padding: 7% 15%;
}

/* ------------------ PRESS------------------ */
#press {
  background-color: #ff4c68;
}

.logo {
  width: 15%;
  margin: 2%
}

/* ------------------ PRICING------------------ */
#pricing {
  padding: 5%;
}

.pricing-col {
  padding: 3% 2%;
}

.h2-pricing {
  font-size: 3rem;
  line-height: 1.5;
}

/* ------------------ LAST-SECTION ------------------ */
#last-section {
  background-color: #ff4c68;
  color: white;
  padding: 7% 15%;
}

/* ------------------ FOOTER------------------ */
#footer {
  padding: 3%;
}

.font-awesome-Footer {
  margin: auto 30px;
  padding-bottom: 30px;
}

/* ---------------MEDIA ELEMENTS----------------- */

@media (min-width: 1028px) {
  .eminem {
    transform: rotate(25deg);
    padding-left: 150px;
  }
}

@media (max-width: 1028px) {
  #title {
    text-align: center;
  }
}
